* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.crud {
    width: 80%;
    margin: auto;
}

.head {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}

input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 4px;
    margin: 4px 0;
    background: #111;
    color: white;
}

input:focus {
    background: #000;
    transform: scale(1.1);
    transition: background 0.2s ease-in-out;
}

.price input {
    width: 20%;
}

#total {
    padding: 5px 2px;
    border-radius: 5px;
    background: #a00d02;
}

#total::before {
    content: 'Total: ';
}

button {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background: #333;
    color: white;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background: #444;
    letter-spacing: 1.5px;
    transition: all 0.5s ease;
}

.btnS {
    display: flex;
    justify-content: space-between;
}

.btnS button {
    width: 45%;
}

table {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

table th {
    text-transform: uppercase;
}

th,
td {
    padding: 5px;
}